.tch_main {
    display: flex;
}

.tch_main .create-room-body {
    flex: 3;
    background-color: #fff;
    margin-top: 16px;
    margin-right: 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.tch_main .space {
    flex: 1;
}

.create-room-body .title {
    flex: 1;
    text-align: left;
    margin: 8px 16px;
}
.create-room-body .content {
    flex: 8;
    display: flex;
}
.create-room-body .space{
    flex:1;
}
/* ---------------Button create and cancel create room--------------------*/
.create-room-body .btn-group {
    flex: 1;
    text-align: right;
    margin: 16px 0;
    margin-right: 16px;
}

.btn-group .btn {
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 600;
    color:#fff;
    background-color: #6064c4;
    border: none;
    outline: none;
    margin-right: 32px;
    border-radius: 5px;
    cursor: pointer;
}
/* ------------------Left side-----------------*/

.left-side .ls-card {
    flex:1;
    height: 100%;
    display: flex;
    padding: 8px 0;
    border-radius: 3px;
    margin-right: 16px;
    cursor: pointer;
} 

.left-side .ls-icon {
    /* min-width: 40px; */
    text-align: center;
    width: 18px;
    height: 18px;
    color: #000;
    margin-left: 8px;
}

.left-side .ls-title {
    flex: 1;
    text-align: center;
    font-size: 15px;
    text-align: left;
    margin-left: 15px;
}

/*-----------------content side--------------------*/

.content .left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.content .content-side {
    flex:3;
    display: flex;
    flex-direction: column;
}
.content-side .date-picker {
    flex: 1;
    display: block;
    width: 100%;

}
.date-picker .datepk-select {
    width:50%;
    height:70%;
    padding: 8px 16px;
    font-size: 15px;
    outline: none;
    border: 2px solid rgb(9, 36, 158);
    border-radius: 3px;
}
.content-side .time-picker {
    flex: 1;
    display: block;
    width: 100%;

}
.time-picker .timepk-select {
    width:50%;
    height:70%;
    padding: 8px 16px;
    font-size: 15px;
    outline: none;
    border: 2px solid rgb(9, 36, 158);
    border-radius: 3px;
}

.content-side .time-select {
    flex: 1;
    display: block;
    width: 100%;

}

.time-select .time-range {
    width: 50%;
    cursor: pointer;
    margin:0 30px;
}

.content-side .exam-question {
    flex: 1;
    text-align: center;

}

.btn-file {
    padding: 5px 20px;
    font-size: 12px;
    font-weight: 600;
    color:#fff;
    background-color: #FC6F78;
    border: none;
    outline: none;
    margin-right: 32px;
    border-radius: 5px;
    cursor: pointer;
}

.exam-question .btn-select {    
   
}

.exam-question .btn-sample {

}

.content-side .list-student {
    flex: 1;

}

.list-student .btn-select-student {

}

.list-student .btn-sample-student {

}


