
/*---------Right side------*/



.tch_right_side .calendar-container {
    flex: 2;
    margin-top: 16px;
}

.tch_right_side .course_on_going {
    flex: 3;
    margin-top: 8px;
}
.course_on_going .today-time {
    margin-bottom: 20px;
}
.course_on_going .today-time h4 {
    float: left;
}
.course_on_going .today-time .today {
    font-size: 14px;
    color:rgb(114, 112, 112);
    font-weight: 500;
}
.course_on_going .On_course{
    background-color:#F9E8F2;
    padding:16px 0;
    border-radius: 5px;
    margin-top: 24px;
}

