.edit-room-main {
    display: block;
}

.edit-room-main .edit-room-body {
   
    background-color: rgb(230, 203, 203);
    margin-top: 16px;
    margin-right: 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.edit-room-body .title {
    flex: 1;
    text-align: center;
    margin: 8px 16px;
}
.edit-room-body .course-header{
    flex: 1;
    display: flex;
    margin-bottom: 8px;
    padding-left: 24px;
    flex-direction: column;
}
.course-header .course-title {
    flex: 1;
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding-bottom: 4px;
    text-align: left;
}
.course-header .course-room-id{
    flex: 1;
    font-size: 16px;
    text-align: left;

}
.edit-room-body .content {
    flex: 8;
    display: flex;
}
.content .left-side {
    flex: 1;
    display: flex;
    padding-left: 16px;
    flex-direction: column;
}

.content .content-side {
    flex: 3;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

/* ------------------Left side-----------------*/

.left-side .ls-card {
    flex: 1;
    height: 100%;
    display: flex;
    padding: 8px 0;
    border-radius: 3px;
    margin-right: 16px;
}

.left-side .ls-icon {
    /* min-width: 40px; */
    text-align: center;
    width: 18px;
    height: 18px;
    color: #000;
    margin-left: 8px;
}

.left-side .ls-title {
    flex: 1;
    text-align: center;
    font-size: 15px;
    text-align: left;
    margin-left: 15px;
}

/*-----------------content side--------------------*/



.content-side .date-picker {
    flex: 1;
    display: block;
    width: 100%;
}

.date-picker .datepk-select {
    width: 50%;
    height: 70%;
    padding: 8px 16px;
    font-size: 15px;
    outline: none;
    border: 2px solid rgb(9, 36, 158);
    border-radius: 3px;
    float: left;
}

.content-side .time-picker {
    flex: 1;
    display: block;
    width: 100%;
}

.time-picker .timepk-select {
    width: 50%;
    height: 70%;
    padding: 8px 16px;
    font-size: 15px;
    outline: none;
    border: 2px solid rgb(9, 36, 158);
    border-radius: 3px;
    float: left;
}

.content-side .time-select {
    flex: 1;
    display: block;
    width: 100%;
}

.time-select .time-range {
    width: 50%;
    cursor: pointer;
    margin-top: 12px;
    float: left;
}

.time-select .value-time-range {
    width: 25%;
    font-size: 14px;
    float: right;
    margin-right: 8%;
}
/*------------file-side------------*/
.content-side .file-side {
    flex: 1;
    display: flex;
    margin-right: 48px;
    height: 50%;
    margin-top: 8px;
}

.file-side .file-name {
    flex: 3;
    font-size: 15px;
    text-align: left;
    padding-top: 5px;
}

.file-side .btn-file {
    flex: 1;
    padding: 8px 0;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    background-color: #FC6F78;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

/* ---------------Button create and cancel create room--------------------*/

.edit-room-body .btn-group {
    flex: 1;
    text-align: right;
    margin: 16px 0;
    margin-right: 16px;
}

.btn-group .btn {
    padding: 8px 31px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: #6064c4;
    border: none;
    outline: none;
    margin-right: 32px;
    border-radius: 5px;
    cursor: pointer;
}